.title-text{
  width: 355px;
  height: 75px;
  left: 21px;
  top: 83px;

  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 92px;
  
  color: #E56B6F;
}

.league-font{
  font-family: 'League Spartan';
  font-style: normal;
}

body {
  overflow: hidden !important;
}
